<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <h1>Список дел</h1>
    <ol class="task_list">
      {{#each tasks}}
        <li>
          <form method="POST" action="/task_manager/delete_task">
            <input type="hidden" name="task_number" value="{{@index}}">
            <input type="text" name="task" value="{{this.name}}">
            <input type="submit" name="submit_button" value="Удалить">
          </form>
        </li>
      {{else}}
        <div>Список дел пуст</div>
      {{/each}}
    </l>
    <form method="POST" action="/task_manager/add_task">
        <input type="text", name="input_task">
        <input type="submit", value="Добавить">
    </form>
    <form method="post" action="/logout">
      <input type="submit" name="logout_button" value="Выйти">
    </form>
  </body>
</html>
